# === Python / Django ===
*.pyc
*.pyo
__pycache__/
db.sqlite3
*.sqlite3
*.log
*.pot
*.py[cod]
*.so
.env
.env.*
venv/
myenv/
local_settings.py
**/migrations/

# === macOS ===
.DS_Store

# === VS Code Workspace ===
*.code-workspace
